/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  animation: App-logo-spin infinite 20s linear;*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

.App-header {
  background-color: #f1f1f1;

}

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.i-block
{
  display:inline-block;
  margin-right: 10px;
}

.log-in
{
  text-decoration-line: underline;
}

.green
{
  background:springgreen;
}

.centerbutton
{
  display:flex;
  justify-content: center;
  margin-top:1%;
}
.centertweets
{
  display:flex;
  justify-content: center;
  margin-top:4%;
}

.tweetbackground
{
  background:#ffc107;
  width:100%;
  margin-left:25%;
  border-radius:23px;
}
.tweetbackgroundB
{
  background:#ffc107;
  width:100%;
  margin-left:25%;
  border-radius:23px;
  margin-bottom: 3%;

}
html,body
{
  background:#f1f1f1;
}
.divAllTweets
{
  width:65%;
}

.small
{
  height:30px;
  width:30px;
  background:#ffc107;

}

.addForm
{
  width: 65%;
  background: #ffc107;
  margin-left: 16.5%;
  margin-bottom: 3%;
  border-radius: 23px;
}

.noUnderline {
  text-decoration-line: none;
  color: black;
}
.noUnderline:hover
{
  text-decoration-line: none;
  color: black;
}
